<div class = "fill_in">
  <h4>アカウントを編集</h4>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul>
    <%= form_with(model: @user, local: true) do |f| %>
    <li class = "fillin_box">
      <span><%= f.label :name %></span>
      <span><%= f.text_field :name %></span>
      <span><%= f.label :email %></span>
      <span><%= f.email_field :email %></span>
    </li>
    <li class = "fillin_box">
      <span><%= f.label :password %></span>
      <span><%= f.password_field :password %></span>
      <span><%= f.label :password_confirmation %></span>
      <span><%= f.password_field :password_confirmation %></span>
    <li class = "fillin_box">
      <span><%= f.label :image %></span>
      <span><%= f.file_field :image %></span>
    </li>
    <li class = "fillin_box"><%= f.submit %></li>
    <% end %>
  </ul>
</div>
<div class = "sidebar">
  <ul>
    <li class = "side_userimg"><%= image_tag @current_user.image.url %></li>
    <li class = "side_userimg">こんにちは、<%= @current_user.name %>さん。</li>
    <li><%= link_to @current_user.name + "さんのお気に入りの投稿へ", favorites_path %></li>
    <br>
    <p class = "side_line">
    <li class = "side_userimg">投稿のあるユーザー</li>

  <% @post_users.each do |post_user| %>
    <% if user.user.name != @current_user.name %>
      <li class = "side_userimg"><%= image_tag post_user.user.image.url %></li>
      <li><%= post_user.user.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>
