<div class = "profile_page">
  <div class = "profile_content">
    <div><%= image_tag @user.image.url %></div>
    <h1>こんにちは、<%= @user.name %>さん。</h1>
    <p>メールアドレス: <%= @user.email %></p>
    <div><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></div>
    <div><%= link_to '投稿一覧へ', posts_path %></div>
  </div>
</div>
