<div>
  <h4>以下の内容で、送信する</h4>
  <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <ul class="article_main">
    <div class = "content_userimg">
      <li><%= image_tag @post.user.image.url %></li>
      <li><%= @post.user.name %></li>
    </div>
    <div class = "content_main">
      <li><%= form.hidden_field :title %></li>
      <li><%= @post.title %></li>
      <li><%= form.hidden_field :content %></li>
      <li><%= @post.content %></li>
      <li><%= form.hidden_field :image_cache %></li>
      <li><%= image_tag(@post.image.url) if @post.image && @post.image.url %></li>
      <li><%= form.submit "登録する" %></li>
      <li><%= form.submit "戻る", name: 'back' %></li>
    </div>
  </ul>
  <% end %>
</div>

<div class = "sidebar">
  <ul>
    <li class = "side_userimg"><%= image_tag @current_user.image.url %></li>
    <li class = "side_userimg">こんにちは、<%= @current_user.name %>さん。</li>
    <li><%= link_to @current_user.name + "さんのお気に入りの投稿へ", favorites_path %></li>
    <br>
    <p class = "side_line">
    <li class = "side_userimg">投稿のあるユーザー</li>
  <% @post_users.each do |user| %>
    <% if user.user.name == @current_user.name %>
      <li></li>
    <% else %>
      <li class = "side_userimg"><%= image_tag user.user.image.url %></li>
      <li><%= user.user.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>
