<div>
  <p><%= notice %></p>
  <% @posts.each do |post| %>
    <ul class="article_main">
      <div class = "content_userimg">
        <li><%= image_tag post.user.image.url %></li>
        <li><%= post.user.name %></li>
      </div>
      <div class = "content_main">
        <li class="article_title"><%= post.title %></li>
        <% if post.image.url.nil? %>
          <li></li>
        <% else %>
          <li><%= image_tag post.image.url %></li>
        <% end %>
        <li><%= post.content.truncate(100) %></li>
        <li><%= link_to '詳細を確認する', post_path(post.id) %></li>
      </div>
    </ul>
  <% end %>
</div>

<div class = "sidebar">
  <ul>
    <li class = "side_userimg"><%= image_tag @current_user.image.url %></li>
    <li class = "side_userimg">こんにちは、<%= @current_user.name %>さん。</li>
    <li><%= @current_user.name %>さんのお気に入りの投稿へ</li>
    <br>
    <p class = "side_line">
    <li class = "side_userimg">その他の登録ユーザー</li>

  <% @post_users.each do |user| %>
    <% if user.user.name == @current_user.name %>
      <li></li>
    <% else %>
      <li class = "side_userimg"><%= image_tag user.user.image.url %></li>
      <li><%= user.user.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>
