<p><%= notice %></p>
<% @posts.each do |post| %>
  <div><%= post.user.name %></div>
  <div><%= post.title %></div>
  <div><%= image_tag post.image.url %></div>
  <div><%= post.content %></div>
  <div><%= link_to '詳細を確認する', post_path(post.id) %></div>
<% end %>
<div><%= link_to '新規作成画面へ', new_post_path %></div>
